<section class="c-headline-container" id="begin">

  <video autoplay muted loop id="c-video-headline">
    <source src="/assets/videos/home-justice.mp4" type="video/mp4">
  </video>

  <!--  <div class="c-headline-text">Garantindo acesso a justiça</div>-->

  <div class="c-about-us-container">
    <div class="c-about-us-title">Sobre nós</div>
    <div class="c-about-us-content">
      A Simple85 surgiu através de um desejo de ajudar as pessoas a terem um acesso melhor a justiça não importando sua condição social ou localização. Somos acima de tudo, uma plataforma de conexão sem juridiquês. Descomplica, usa Simple85!
    </div>
  </div>

</section>

<section class="c-purpose-section">
  <div class="c-purpose-title">
    Nosso Propósito
  </div>
  <div class="c-purpose-list">

    <div class="c-purpose-item">
      <img class="c-purpose-img" src="/assets/images/acessibilidade.jpg" alt="">
      <div class="c-purpose-item-title">
        Acessibilidade
      </div>
      <div class="c-purpose-item-text">
        Acessibilidade é nosso pilar! Tonrnando nossa plataforma acessivel conseguimos atingir o maior número de pessoas! É como dizem, quanto mais melhor!
      </div>
    </div>

    <div class="c-purpose-item">
      <img class="c-purpose-img" src="/assets/images/transparencia.jpg" alt="">
      <div class="c-purpose-item-title">
        Transparência
      </div>
      <div class="c-purpose-item-text">
        Nossas consquistas tem que ser celebradas! Dessa forma somos totalmente transparentes com nossos dados, para cada vez mais contribuirmos com a melhora da nossa sociedade.
      </div>
    </div>

    <div class="c-purpose-item">
      <img class="c-purpose-img" src="/assets/images/conexao.jpg" alt="">
      <div class="c-purpose-item-title">
        Conexão
      </div>
      <div class="c-purpose-item-text">
        Surgimos para fomentar a conexão entre quem necessita de ajuda e quem quer ajudar, de forma simplificada.
      </div>
    </div>

  </div>
</section>

<section class="c-ods-section">
  <div class="c-ods-title">
    Desenvolvimento Sustentável
  </div>
  <div class="c-ods-text-container">
    <div class="c-ods-text">
      A ONU e seus parceiros no Brasil estão trabalhando para atingir os Objetivos de Desenvolvimento Sustentável.
      São 17 objetivos ambiciosos e interconectados que abordam os principais desafios de desenvolvimento enfrentados
      por pessoas no Brasil e no mundo.
    </div>
  </div>
  <dx-gallery
    [dataSource]="galleryData"
    [height]="200"
    [width]="'auto'"
    [initialItemWidth]="200"
  >
  </dx-gallery>
</section>

<section class="c-ods-section">
  <div class="c-ods-title">
    Nossos Parceiros
  </div>
  <!-- <div class="c-ods-text-container">
    <div class="c-ods-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer maximus nulla id dolor porttitor,
      id rhoncus nibh mollis. Duis et urna tortor. Suspendisse ullamcorper nisi vitae felis ullamcorper accumsan.
    </div>
  </div> -->
  <div class="c-partners-list">
    <img class="c-partner-item" src="/assets/images/partners/logo-apsv.png" alt="">
    <img class="c-partner-item" src="/assets/images/partners/logo-solar.png" alt="">
    <img class="c-partner-item" src="/assets/images/partners/logo-prefeitura-pgm.svg" alt="">
    <img class="c-partner-item" src="/assets/images/partners/unifor.png" alt="">
  </div>
</section>

<footer>
<!--  <div class="c-footer-logo">SIMPLE85</div>-->
  <img class="c-footer-logo" src="/assets/images/logo-s58.png" alt="">
  <div class="c-footer-text">Desenvolvido por SIMPLE85, 2022</div>
  <dx-button text="VOLTAR AO TOPO" (onClick)="goToStart()"></dx-button>
</footer>

