/* You can add global styles to this file, and also import other style files */
@import "src/styles/simple85-fonts";

html, body{
  @extend .e-roboto-regular;
  font-size: 12px;
  height: 100%;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}
